<div class="container-fluid base-block">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div style="padding-left:0px;padding-right:0px;padding-top:0px;overflow:hidden;" class="block">
            <div class="block-title-table">
              <div class="row">
                <div class="col-md-3">
                  <div class="table-title">УЧИТЕЛЯ</div>
                </div>
                <div class="col-md-9">
                  <input id="nickname" type="text" placeholder="" class="input-search form-control">
                </div>
              </div>
            </div>
            <div style="overflow: auto;" class="block-content">
              <table class="table">
                <thead>
                  <tr>
                    <td colspan="8" style="text-align:right;" class="t_sum"><span>235 </span>найдено.</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_rating">4.9</td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td>В ОЖИДАНИИ</td>
                    <td class="t_name">235$</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-teacher-accept" class="circle-button green-circle pencil mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_rating">4.9</td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td>ПРИНЯТ</td>
                    <td class="t_name">235$</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-teacher-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_rating">4.9</td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td>ПРИНЯТ</td>
                    <td class="t_name">235$</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-teacher-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_rating">4.9</td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td>ПРИНЯТ</td>
                    <td class="t_name">235$</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-teacher-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_rating">4.9</td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td>ПРИНЯТ</td>
                    <td class="t_name">235$</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-teacher-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_rating">4.9</td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td>ПРИНЯТ</td>
                    <td class="t_name">235$</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-teacher-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-teacher-accept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal modal-teacher-accept fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="/admin/img/close2.svg"></button>
          </div>
          <div style="padding-left:50px;padding-right:50px;" class="modal-body">
            <div class="row">
              <div style="text-align:center;" class="col-md-2">
                <div style="width:100px;height:100px !important;display:inline-block;margin-right:0px;" class="avatar"><img src="/admin/img/user_3.jpg" style="width:100px;height:100px;">
                  <div style="right:8px;bottom:8px;" class="cirle-status online-status"></div>
                </div>
              </div>
              <div style="padding:20px;text-align:left;" class="col-md-10">
                <div style="font-size:30px;font-family:'Lato';" class="teacher-nickname">Theresa Wong</div>
                <div class="teacher-info-text">I am a very social person who decided to see the world. I have made my home in Indonesia and love learning and participating in new cultures, food,  outdoors, travel, Entrepreneurship, Reading and about anything else you can think of. </div>
              </div>
            </div>
            <iframe width="100%" height="480px" src="https://www.youtube.com/embed/Wf4kVUc_HV0" frameborder="0" allowfullscreen></iframe>
            <div style="margin-top:50px;margin-bottom:40px;" class="row">
              <div style="text-align: center;" class="col-md-6">
                <button type="button" data-dismiss="modal" style="width:100%; padding 5px 0px;margin-top :10px;" class="btn btn-default">ПРИНЯТЬ  </button>
              </div>
              <div style="text-align: center;" class="col-md-6">
                <button type="button" data-dismiss="modal" style="width:100%; padding 5px 0px;margin-top :10px;" class="btn btn-danger">ОТКЛОНИТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-teacher-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal modal-teacher-view fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="/admin/img/close2.svg"></button>
          </div>
          <div style="padding-left:50px;padding-right:50px;" class="modal-body">
            <div class="row">
              <div style="text-align:center;" class="col-md-2">
                <div style="width:100px;height:100px !important;display:inline-block;margin-right:0px;" class="avatar"><img src="/admin/img/user_3.jpg" style="width:100px;height:100px;">
                  <div style="right:8px;bottom:8px;" class="cirle-status online-status"></div>
                </div><br><a href="chat.html" style="margin-left:0px;margin-top:20px;" class="circle-button green-circle-inverse message mini-cricle teacher-button"></a>
              </div>
              <div class="col-md-10">
                <div style="font-size:30px;font-family:'Lato';text-align:left;" class="teacher-nickname">Theresa Wong</div>
                <table class="table info-teacher">
                  <tr>
                    <td>Профессия</td>
                    <td>Academic English Teacher and Professional Corporate Trainer</td>
                  </tr>
                  <tr>
                    <td>Интересы</td>
                    <td>
                      <div class="orangeTag">Sport</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Образование</td>
                    <td>University of Alberta Canada</td>
                  </tr>
                  <tr>
                    <td>Опыт преподавания</td>
                    <td>14 years</td>
                  </tr>
                  <tr>
                    <td>Владение языками</td>
                    <td>английский (Носитель языка: США / Канада)</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div style="text-align: center;" class="col-md-12">
                <button type="button" data-toggle="modal" data-target=".modal-view-video" class="btn btn-default play-icon">ПОСМОТРЕТЬ ВИДЕО</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-view-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal modal-view-video fade">
      <div class="modal-dialog">
        <div style="background:none" class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="/admin/img/close2.svg"></button>
          </div>
          <iframe width="100%" height="480px" src="https://www.youtube.com/embed/Wf4kVUc_HV0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>