 <div class="container-fluid base-block">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div style="padding-left:0px;padding-right:0px;padding-top:0px;overflow:hidden;" class="block">
            <div class="block-title-table">
              <div class="row">
                <div class="col-md-3">
                  <div class="table-title">СТУДЕНТЫ</div>
                </div>
                <div class="col-md-9">
                  <input id="nickname" type="text" placeholder="" class="input-search form-control">
                </div>
              </div>
            </div>
            <div style="overflow: auto;" class="block-content">
              <table class="table">
                <thead>
                  <tr>
                    <td colspan="7" style="text-align:right;" class="t_sum"><span>235 </span>найдено.</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>
                      <div class="redTag">ADVANCED</div>
                    </td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-student-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>
                      <div class="redTag">ADVANCED</div>
                    </td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-student-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>
                      <div class="redTag">ADVANCED</div>
                    </td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-student-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>
                      <div class="redTag">ADVANCED</div>
                    </td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-student-view" class="circle-button green-circle profile mini-cricle">																											</a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>
                      <div class="redTag">ADVANCED</div>
                    </td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-student-view" class="circle-button green-circle profile mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td>
                      <div class="redTag">ADVANCED</div>
                    </td>
                    <td>НЕ ЗАБАНЕН</td>
                    <td><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" data-toggle="modal" data-target=".modal-student-view" class="circle-button green-circle profile mini-cricle">						</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-student-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal modal-student-view fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="/admin/img/close2.svg"></button>
          </div>
          <div style="padding-left:50px;padding-right:50px;" class="modal-body">
            <div class="row">
              <div style="text-align:center;" class="col-md-2">
                <div style="width:100px;height:100px !important;display:inline-block;margin-right:0px;" class="avatar"><img src="/admin/img/user_3.jpg" style="width:100px;height:100px;">
                  <div style="right:8px;bottom:8px;" class="cirle-status online-status"></div>
                </div>
              </div>
              <div class="col-md-10">
                <div style="font-size:30px;font-family:'Lato';text-align:left;" class="teacher-nickname"><span>Theresa Wong</span>
                  <div class="redTag tagInfo">ADVANCED</div>
                </div>
                <table class="table info-teacher">
                  <tr>
                    <td>Профессия</td>
                    <td>Fit</td>
                  </tr>
                  <tr>
                    <td>Интересы</td>
                    <td>
                      <div class="defaultTag">LEISURE</div>
                      <div class="defaultTag">FIT</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Цели</td>
                    <td>
                      <div class="orangeTag">TO LIVE ABROAD								</div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div style="text-align: center;margin-top:30px;marign-bottom:30px;" class="col-md-12">
                <button type="button" class="btn btn-default">ЗАБАНИТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>