  <div class="container-fluid base-block">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div style="padding-left:0px;padding-right:0px;padding-top:0px;overflow:hidden;" class="block">
            <div class="block-title-table">
              <div class="row">
                <div class="col-md-4">
                  <div class="table-title"><span style="float:left;">АДМИНИСТРАТОРЫ</span><a href="#" data-toggle="modal" data-target=".modal-admin-add" style="height:40px;width:40px;float:left;" class="circle-button white-circle add mini-cricle"></a></div>
                </div>
                <div class="col-md-8">
                  <input id="nickname" type="text" placeholder="" class="input-search form-control">
                </div>
              </div>
            </div>
            <div style="overflow: auto;" class="block-content">
              <table class="table">
                <thead>
                  <tr>
                    <td colspan="7" style="text-align:right;" class="t_sum"><span>235 </span>найдено.</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td></td>
                    <td>СУПЕР</td>
                    <td style="text-align:right;"><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;"><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" class="circle-button green-circle delete mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;"><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" class="circle-button green-circle delete mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;"><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" class="circle-button green-circle delete mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;"><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" class="circle-button green-circle delete mini-cricle"></a></td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td><img src="/admin/img/user_1.jpg" class="t_photo"></td>
                    <td class="t_name">Cheryl Montgomery</td>
                    <td>sylvan_purdy@yahoo.com</td>
                    <td></td>
                    <td></td>
                    <td style="text-align:right;"><a href="chat.html" class="circle-button green-circle-inverse message mini-cricle"></a><a href="#" class="circle-button green-circle delete mini-cricle"></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-admin-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal modal-admin-add fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="block-title">НОВЫЙ АДМИНИСТРАТОР</div>
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><img src="/admin/img/close2.svg"></button>
          </div>
          <div style="padding-left:50px;padding-right:50px;" class="modal-body">
            <div class="row">
              <div style="text-align: left;" class="col-md-6">
                <div class="form-group">
                  <label for="nickname">ИМЯ</label>
                  <input id="nickname" type="text" placeholder="" class="input-guest form-control">
                </div>
                <div class="form-group">
                  <label for="nickname">ПАРОЛЬ</label>
                  <input id="nickname" type="text" placeholder="" class="input-password form-control new_pass_admin"><a class="link gen-password">сгенерировать     </a>
                </div>
              </div>
              <div style="text-align: center;" class="col-md-6">
                <div class="form-group">
                  <label for="nickname">ФАМИЛИЯ</label>
                  <input id="nickname" type="text" placeholder="" class="input-guest form-control">
                </div>
                <div class="form-group">
                  <label for="nickname">E-MAIL</label>
                  <input id="nickname" type="email" placeholder="" class="input-email form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div style="text-align: center;margin-top:40px;margin-bottom:20px;" class="col-md-12">
                <button type="button" data-toggle="modal" data-target=".modal-view-video" style="padding:10px 30px;" class="btn btn-default">ДОБАВИТЬ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>