<script>
          new Chartist.Line('.ct-chart', {
   labels: ['Янв 14', 'Фев 14', 'Мар 14', 'Апр 14', 'Май 14', 'Июн 14', 'Июл 14', 'Авг 14', 'Сен 14', 'Окт 14', 'Ноя 14', 'Дек 14'],
   series: [[1, 5, 10, 20, 40, 80, 160, 320, 325, 400, 500, 520], [1, 2, 5, 10, 15, 30, 60, 70, 100, 120, 150, 300]]
  }, {
   height: '200px',
   fullWidth: true,
   chartPadding: {
     right: 40
   }
  });
  new Chartist.Line('.ct-chart2', {
   labels: ['Янв 14', 'Фев 14', 'Мар 14', 'Апр 14', 'Май 14', 'Июн 14', 'Июл 14', 'Авг 14', 'Сен 14', 'Окт 14', 'Ноя 14', 'Дек 14'],
   series: [[1, 5, 10, 20, 40, 80, 160, 320, 325, 400, 500, 520], [1, 2, 5, 10, 15, 30, 60, 70, 100, 120, 150, 300], [0, 50, 100, 150, 200, 420, 510, 550, 600, 605, 610, 615]]
  }, {
   height: '200px',
   fullWidth: true,
   chartPadding: {
     right: 40
   }
  });
</script>
 <div class="container-fluid base-block">
      <div class="row">
        <div class="col-md-12">
          <div style="padding-left:50px;padding-right:50px;" class="block">
            <div style="padding-bottom:20px;" class="block-content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <label for="new-password" style="text-align:right;line-height:40px;" class="col-sm-4">С</label>
                        <div class="col-sm-6">
                          <input id="date_in" type="text" placeholder="" class="input-date form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="form-group">
                        <label for="new-password" style="text-align:right;line-height:40px;" class="col-sm-4">ПО</label>
                        <div class="col-sm-6">
                          <input id="date_out" type="text" placeholder="" class="datepicker input-date form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div style="padding-left:0px;padding-right:0px;overflow:hidden;" class="block column">
            <div class="block-title">РАЗГОВОРЫ</div>
            <div style="padding:20px;margin-bottom:0px;" class="block-title-table">
              <div class="row">
                <div class="col-md-6"><img src="/admin/img/xls.svg" class="file_download"><img src="/admin/img/txt.svg" class="file_download"></div>
                <div style="text-align:right;color:#fff;" class="col-md-6 tt_sum"><span>235 </span>найдено.</div>
              </div>
            </div>
            <div style="overflow: auto;" class="block-content">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="lang-tag blue">EN</div>
                    </td>
                    <td>
                      <div class="lang-tag red">RU</div>
                    </td>
                    <td class="bold-text">00:17:02</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="lang-tag blue">EN</div>
                    </td>
                    <td>
                      <div class="lang-tag red">RU</div>
                    </td>
                    <td class="bold-text">00:17:02</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="lang-tag blue">EN</div>
                    </td>
                    <td>
                      <div class="lang-tag red">RU</div>
                    </td>
                    <td class="bold-text">00:17:02</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="lang-tag blue">EN</div>
                    </td>
                    <td>
                      <div class="lang-tag red">RU</div>
                    </td>
                    <td class="bold-text">00:17:02</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="lang-tag blue">EN</div>
                    </td>
                    <td>
                      <div class="lang-tag red">RU</div>
                    </td>
                    <td class="bold-text">00:17:02</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="lang-tag blue">EN</div>
                    </td>
                    <td>
                      <div class="lang-tag red">RU</div>
                    </td>
                    <td class="bold-text">00:17:02</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div style="padding-left:0px;padding-right:0px;overflow:hidden;" class="block column">
            <div class="block-title">ОНЛАЙН</div>
            <div style="padding:20px;margin-bottom:0px;" class="block-title-table">
              <div class="row">
                <div class="col-md-4"><img src="/admin/img/xls.svg" class="file_download"><img src="/admin/img/txt.svg" class="file_download"></div>
                <div style="text-align:center;" class="col-md-4">
                  <div class="sort-online">КАЖДЫЙ ЧАС</div>
                  <div class="sort-sep"></div>
                </div>
                <div style="text-align:right;color:#fff;" class="col-md-4 tt_sum"><span>235 </span>найдено.</div>
              </div>
            </div>
            <div style="overflow: auto;" class="block-content">
              <table class="table">
                <thead>
                  <tr>
                    <td class="t-head">СТУДЕНТОВ</td>
                    <td class="t-head">УЧЕНИКОВ</td>
                    <td class="t-head">РАЗГОВОРОВ</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34</td>
                  </tr>
                  <tr>
                    <td class="t_name">25</td>
                    <td class="t_name">48</td>
                    <td class="t_name">62</td>
                    <td>21.08.16 18:34																																								</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="padding-left:50px;padding-right:50px;" class="block">
            <div style="padding-bottom:20px;" class="block-content">
              <div class="ct-chart2 ct-perfect-fourth"></div>
              <div class="chart-info">
                <div class="chart-elem">
                  <div class="circl-chart red"></div>
                  <div class="chart-text">Учителей</div>
                </div>
                <div class="chart-elem">
                  <div class="circl-chart orange"></div>
                  <div class="chart-text">Учеников</div>
                </div>
                <div class="chart-elem">
                  <div class="circl-chart blue"></div>
                  <div class="chart-text">Разговоров</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>